.todo-list{
list-style:none;
}
.sub-item-link{
  text-decoration:none;
  color:red;
}
a:visited{
  color:green;
}
a:hover{
  color:brown;
}
a:focus{
  outline:2px dashed orange;
}
a:active{
  color:purple;
}
