body{
  padding:50px 0px;
  margin:0 auto;
  width: 90vw;
  min-height: calc(100vh - 100px);
  text-align:center; 
list-style-position:inside;
background-color:lightblue;
}
hr{
  width:100%;
}
section{
  width:100%;
}
